.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.images {
  margin-bottom: 10px;
}

.link {
  margin-top: 20px;
}
