.container {
  padding-bottom: 32px;
}

.categoriesContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  padding: 16px 0;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;

  /* Скрытие скроллбара для Webkit */
  &::-webkit-scrollbar {
    display: none;
  }
}

.categoryLink {
  flex: 0 0 auto;
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  transition: all 0.2s ease;

  background-color: #555353;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #b0a7a7;
  }

  &:active {
    transform: scale(0.95);
  }
}

.activeCategoryLink {
  background-color: #ffffff;
  color: #000000;
  border-color: transparent;
  pointer-events: none;

  &:hover {
    background-color: #272727;
  }
}
