.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  gap: 10px;
  margin-top: 64px;
}

.input {
  width: 500px;
  height: 40px;
  background: transparent;
  padding: 8px 12px;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
}

.submitButton {
  background: transparent;
  padding: 8px 12px;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
}

.error {
  margin-left: 8px;
  margin-top: 5px;
  color: #e70000;
}

.iframe {
  margin-top: 24px;
}

.select {
  width: 140px;
  height: 40px;
  /* или фиксированная ширина, например: 300px; */
  padding: 12px 36px 12px 16px;
  font-size: 15px;
  font-family: inherit;
  color: #333;
  background-color: #c4b4b4;

  /* Красивая черная стрелочка */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23111%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 10px;

  border: 1px solid #e0e0e0;
  border-radius: 8px;

  /* Убираем стандартную стрелку браузера */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: #aaa;
  }

  &:focus {
    outline: none;
    border-color: #0f0f0f;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  }

  /* Стилизация опций (работает не во всех браузерах) */
  option {
    padding: 10px;
    font-size: 14px;
    background: #fff;
  }
}
